# Copy this file to .env (do NOT commit .env)

PANEL_APIKEY=ptla_xxxxxxxxxxxxxxxxxxxxxxxxx
SAKURUPIAH_APIKEY=KEY-xxxxxxxxxxxxxxxx
SAKURUPIAH_ID=ID-xxxxxxxxxx
GMAIL_PASSWORD=xxxxxxxxxxxxxxx

MONGODB_URI=mongodb+srv://akunuradi:akunuradi@cluster0.g9hlxhm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
